body{
  padding-top: 50px;
}
section{
  padding: 40px 0;
}
.em-text{
  color: #1caa98 !important;
}
/************   NAVIGATION   ****************/
.jumbotron{
  background: url("../images/man-phone.jpg") no-repeat top center;
  background-size: cover;
  color: white;
  height: 100vh;
  overflow: none;
}
.jumbotron h1{
  margin-top: 60px;
}
.jumbotron p{
  margin-bottom: 60px;
}
/************   MIDDLE   ****************/
img.demo{
  width: 100%;
  padding: 3px;
}
/************   FEATURE   ****************/
#feature{
  background: #1caa98;
  color: white;
  padding: 40px;
  overflow: auto;
}
#feature h1{
  margin-bottom: 30px;
}
#feature ul li{
  font-size: 1.3em;
  list-style: none;
  line-height: 2em;
}
.big-logo{
  width: 70%;
}
/************   FOOTER   ****************/
footer{
  background: #333;
  color: white;
  padding: 30px;
}
footer li{
  float: left;
  padding: 0 10px;
  list-style: none;
}
footer a{
  color: white !important;
}
footer p{
  float: right;
}
/************   ABOUT   ****************/
#title-bar{
  padding: 0;
  margin: 0;
  height:6em;
  background: #1caa98;
  color: white;
}
#title-bar h1{
  margin-bottom: 40px;
}
/************   MOBILE   ****************/
@media(max-width: 1200px){
  .jumbotron a{
    display: block;
    margin-bottom: 15px;
    width: 60%;
  }
  .jumbotron img{
    width: 80% !important;
  }
  #feature{
    text-align: center;
  }
}

@media(min-width: 768px) and (max-width: 990px){
  #feature img{
    width: 40%;
  }
}

@media(max-width: 786px){
  footer{
    text-align: center;
  }
  footer ul{
    display: none;
  }
  footer p{
    float: none;
  }
}

@media(max-width: 500px){
}