body{
  padding-top: 50px;
}
section{
  padding: 40px 0;
}
.em-text{
  color: #1caa98 !important;
}
.jumbotron{
  background: url("../images/man-phone.jpg") no-repeat top center;
  background-size: cover;
  color: white;
  height: 100vh;
  overflow: none;
}
.jumbotron h1{
  margin-top: 60px;
}
.jumbotron p{
  margin-bottom: 60px;
}
img.demo{
  width: 100%;
  padding: 3px;
}
#feature{
  background: #1caa98;
  color: white;
  padding: 40px;
  overflow: auto;
}
#feature h1{
  margin-bottom: 30px;
}
#feature ul li{
  font-size: 1.3em;
  list-style: none;
  line-height: 2em;
}
footer{
  background: #333;
  color: white;
  padding: 30px;
}
footer li{
  float: left;
  padding: 0 10px;
  list-style: none;
}
footer a{
  color: white !important;
}
footer p{
  float: right;
}